DUMAHH_ROOT_DIR="./files"
DUMAHH_INTERNAL_HOST="0.0.0.0"
DUMAHH_INTERNAL_PORT=3000
DUMAHH_EXTERNAL_PROTOCOL="http"
DUMAHH_EXTERNAL_HOST="0.0.0.0:3000"
DUMAHH_MAX_FILENAME_LENGTH=240
DUMAHH_MAX_ON_DISK_STORAGE=5368709120
DUMAHH_MAX_FILE_SIZE=104857600
DUMAHH_RETENTION_MINS=3
DUMAHH_CONCURRENT_DOWNLOAD=3
DUMAHH_REQUESTS_PER_MINUTE=30
DUMAHH_PASSWORD=password
DUMAHH_YTDLP_PATH="yt-dlp"
DUMAHH_COOKIES_FILEPATH="/home/user/cookies.txt"
